/* Stylesheet for the 'ICustomTheme' Plone browser layer */

body {
}

@font-face {
  font-family: 'Elante';
  src: url('./fonts/ELANTE.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  src: url('./fonts/11058.ttf') format('truetype');
}

#navbar-top button.navbar-toggle {
  position: relative;
  float: right;
  padding: 1px 2px;
  margin-top: 6px;
  margin-right: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

#navbar-top.navbar {
  min-height: 35px;
  padding-top: 4px;
}

.navbar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FDFDFD), to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #FDFDFD, 0%, #DBDBDB, 100%);
  background-image: -moz-linear-gradient(top, #FDFDFD 0%, #DBDBDB 100%);
  background-image: linear-gradient(to bottom, #FDFDFD 0%, #DBDBDB 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFDFDFD', endColorstr='#ffDBDBDB', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default {
  background-color: #C4C4C4;
  border-color: #C2C2C2;
}

#navbar-top .navbar-brand {
  padding: 4px;
}

#navbar-top .navbar-nav > li > a {
  padding-top: 3px;
  padding-bottom: 2px;
}

#navbar-top .btn {
  padding: 1px 6px;
}

#navbar-top .navbar-btn {
  margin-top: 2px;
  margin-bottom: 0;
}

#brand-bar {
  margin-top: 30px;
  height: 230px;
  margin-bottom: 10px;
}

#brand-bar h1 {
  color: red;
  font-size: 10vw;
  font-weight: bold;
}

#brand-bar h4 {
  font-size: 2.5vw;
  color: #fff;
}

#brand-bar .container {
  min-height: 230px;
  background: url(images/topo.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}

.brand {
  float: left;
  margin-top: 0px;
}

.form-wrapper {
  margin-top: 150px;
  /*height: 340px;
  line-height: 340px;*/
}

.search-bar .btn {
  margin-top: 10px;
}

#local-nav .nav > li > a {
  font-family: "Gothic";
  text-transform: uppercase;
  color: #104674;
  font-size: 1.2em;
  padding: 10px 35px;
}

#local-nav .nav > li.active > a  {
  color: #fff;
}

#local-nav .navbar {
  min-height: 0;
  filter: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

#local-nav .navbar-default {
  background: none;
}

#content {
  margin-top: -10px;
  padding-top: 40px;
}

#content.container {
  border-top: 7px solid #6289b2;
}

#news p {
  color: #407dbe;
  padding-top: 10px;
}

.box-stub2 h4 {
  font-family: "Elante";
  font-size: 1.5em;
  margin: 0;
  padding: 8px;
  color: #61737f;
  text-transform: uppercase;
}

.underline {
  border-bottom: 1px solid #9aa7b0;
}

.box-stub h4 {
  font-family: "Elante";
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: #61737f;
  border-top: 1px solid #9aa7b0;
  border-bottom: 1px solid #9aa7b0;
  text-transform: uppercase;
}

.trt-footer {
  background-color: #6c9ccc;
  padding-top: 40px;
  margin-top: 150px;
  color: #fff;
  border-top: 1px solid #e5e5e5;
}

.trt-footer a {
  color: #fff;
}

.trt-footer .map {
  margin-top: 20px;
  margin-left: 20px
}

.event-stub {
  height: 200px;
  background-color: #ccc;
}

.page-bottom {
  margin-top: 50px;
  padding-top: 10px;
  bottom: 0;
  border-top: 10px solid white;
  height: 100%;
  width: 100%;
  background-color: #626e7a;
}


@media (max-width: 768px) {
  .form-wrapper { margin-top:0; }
  #brand-bar h4 { color: #666; }
  #brand-bar { margin-top: 70px; height:30px;}
  .brand { margin-top: 0; }
  #brand-bar .container { background: none; min-height:0; }
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

#intranet-global-nav .btn {
  padding-top: 5px;
  padding-bottom: 5px;
}

#intranet-global-nav .icon-bar {
  background-color: #CCC;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 3px;
}

.trt-footer i {
  color: blue;
  text-align: center;
  font-size: 5em;
}

.trt-footer nav {
  margin-top: -80px;
}

.footer-icons {
  background: url('images/footer-sprites.png') no-repeat;
  width: 105px;
  height: 105px;
}

.icon-escritorio {
  background-position: 0 0;
}

.icon-projeto {
  background-position: -143px 0;
}

.icon-metodologia {
  background-position: -286px 0;
}

.icon-forum {
  background-position: -573px 0;
}

.icon-agenda {
  background-position: -717px 0;
}

.icon-noticia {
  background-position: -430px 0;
}
